<%= canal_tag canal %>
<header>
  <h1><%= torneo.campeonato %></h1>
</header>
<ul id="menu-estadisticas">
  <li class="fixture"><a toggle-target="#panel-fixture" class="selected">Fixture y resultados</a></li>
  <li class="goleadores"><a toggle-target="#panel-goleadores" data-url="<%= torneo.url_generator.for 'goleadores' %>">Goleadores</a></li>
</ul>

<div class="limpiar"></div>

<div id="contenido-estadisticas" class="contenido-estadisticas">
  <div id="panel-fixture" class="panel tabla">

    <h1>Fixture y resultados</h1>
    <div id="menu-fechas">
      <ul class="fixtureInfo">
        <% torneo.grupos.each do |grupo| %>
        <li><a class="fecha" data-url="<%= torneo.url_generator.for 'grupo', grupo %>"><%= grupo %></a></li>
        <% end %>
      </ul>
      <ul class="fixtureInfo">
        <% torneo.niveles[1..-1].each do |nivel| %>
        <li><a class="fecha" data-url="<%= torneo.url_generator.for 'nivel', nivel %>"><%= nivel %></a></li>
        <% end %>
      </ul>
    </div><!-- #menu-fechas -->
  
    <div id="contenido-fecha" class="fechaclass"></div>

  </div>

  <div id="panel-goleadores" class="panel"></div>

</div>

<script type="text/javascript">

function toggle_contenidos(selector, contenedor) {
  var links = $(selector || "[toggle-target]")
  var paneles = $(contenedor || ".panel")

  links.click(function(event) {
    paneles.hide()
    links.removeClass('selected')
    var link = $(this)
    link.addClass('selected')
    $(link.attr('toggle-target')).show()
  });
}

toggle_contenidos('a[toggle-target]')
contenidos_datafactory('.goleadores a', "#panel-goleadores")
contenidos_datafactory('#menu-fechas a[data-url]', '#contenido-fecha')

<% if torneo.nivel_actual == 1 %>
traer_datafactory('#contenido-fecha', '<%= torneo.url_generator.for 'grupo', torneo.grupos.first %>')
<% else %>
traer_datafactory('#contenido-fecha', '<%= torneo.url_generator.for 'nivel', torneo.nivel_actual %>')
<% end %>

</script>
</div> <!-- /canal -->
