<%= canal_tag canal %>
<div class="tabla tabla-posiciones">
  <h1>Tabla posiciones - <%= grupo.nombre %></h1>

  <ul class="posicionesInfo">
    <div class="tabla-tipo">Posiciones </div>
    <li>&nbsp;</li>
    <li class="equipo">&nbsp;</li>
    <li title="Puntos">Ptos</li>
    <li title="Partidos jugados">PJ</li>
    <li title="Partidos ganados">PG</li>
    <li title="Partidos empatados">PE</li>
    <li title="Partidos perdidos">PP</li>
    <li title="Goles a favor" class="goles goles_torneo">GF</li>
    <li title="Goles en contra" class="goles goles_torneo">GC</li>
    <li title="Diferencia de gol" class="goles">DF</li>
    <div class="limpiar"></div>
  </ul>

  <div class="limpiar"></div>

  <% grupo.posiciones.each_with_index do |equipo, i| %>
  <ul class="posicionesDatos">
    <li><%= i+1 %></li>
    <li class="equipo"><%= link_pais equipo.equipo %> </li>
    <li class="puntos"><%= equipo.puntos %></li>
    <li><%= equipo.jugados %></li>
    <li><%= equipo.ganados %></li>
    <li><%= equipo.empatados %></li>
    <li><%= equipo.perdidos %></li>
    <li class="goles goles_torneo"><%= equipo.goles_favor %></li>
    <li class="goles goles_torneo"><%= equipo.goles_contra %></li>
    <li class="goles"><%= equipo.diferencia_de_gol %></li>
  </ul>
  <% end %>

</div>

<div class="tabla tabla-fecha">

  <% grupo.partidos.each do |partido| %>

    <% partido = partido.decorate %>
    <div class="sejuega">
      <%= partido.estadio.ciudad %> - 
      <%= partido.fecha_partido %>
      <%= partido.tags_medios %>
    </div>

    <ul class="fixtureDatos">
      <li class="resultado">
        <ul class="izquierda <%= partido.ganador_local? && 'ganador' %>">
          <li class="escudo"><%= escudo partido.local %></li>
          <li class="equipo"><span><%= partido.local %></span></li>
          <li class="tantos"><%= partido.goles_local %></li>
        </ul>
        <ul class="derecha  <%= partido.ganador_visitante? && 'ganador' %>">
          <li class="tantos"><%= partido.goles_visitante %></li>
          <li class="equipo"><span><%= partido.visitante %></span></li>
          <li class="escudo"><%= escudo partido.visitante %></li>
        </ul>
      </li>

      <li class="resumen">
      <% if partido.iniciado? %>
        <%= torneo.link_to_partido partido %>
      <% end %>
      </li>
    </ul>

  <% end %>

</div>

</div> <!-- /canal -->
