<%= canal_tag canal %>
<div class="marcador-sidebar">

  <div class="marcador-titulo">
    <span class="marcador-torneo">
      <%= ficha.estadio.ciudad %>
    </span>
    <span class="marcador-fecha">
      Fecha <%= fecha.numero %>
    </span>
    <span class="marcador-dia">
      <%= ficha.marcador_dia %>
    </span>
    <span class="marcador-tiempo" <%= ficha.cronometro %> >
      <%= ficha.marcador_tiempo %>
    </span>
    <div class="limpiar"></div>
  </div>

  <div class="marcador-cuerpo">
    <div class="marcador-local">
      <span class="marcador-escudo">
        <%= escudo_small ficha.local %>
      </span>
      <span class="marcador-nombre">
        <%= link_pais ficha.local %>
      </span>
      <span class="marcador-tanteador">
        <%= ficha.goles_local %>
      </span>
      <div class="limpiar"></div>
    </div>

    <div class="marcador-visitante">
      <span class="marcador-escudo">
        <%= escudo_small ficha.visitante %>
      </span>
      <span class="marcador-nombre">
        <%= link_pais ficha.visitante %>
      </span>
      <span class="marcador-tanteador">
        <%= ficha.goles_visitante %>
      </span>
      <div class="limpiar"></div>

    </div>
    <div class="limpiar"></div>
  </div>

  <div class="marcador-pie">
    <marquee scrollamount="2" scrolldelay="20" direction="left" loop="infinite">
      <%= ficha.marquee %>
    </marquee>
  </div>

</div>
</div> <!-- /canal -->
