<%= canal_tag canal %>
<div class="tabla tabla-fecha">
  <h1><%= fechas.first.nombre_nivel %></h1>

<% fechas.group_by(&:orden).each do |numero_de_grupo, fechas_grupo| %>
  <% partidos = PartidoDecorator.decorate_collection fechas_grupo.map(&:partidos).flatten %>

  <% partidos.each do |partido| %>
    <div class="sejuega">
      <%= fechas_grupo.first.nombre_grupo %> - 
      <%= partido.estadio.ciudad %> - 
      <%= partido.fecha_partido %>
      <%= partido.tags_medios %>
    </div>

    <ul class="fixtureDatos">
      <li class="resultado">
        <ul class="izquierda <%= partido.ganador_local? && 'ganador' %>">
          <li class="escudo"><%= escudo partido.local %></li>
          <li class="equipo"><span><%= partido.local %></span></li>
          <li class="tantos"><%= partido.goles_local %></li>
        </ul>
        <ul class="derecha  <%= partido.ganador_visitante? && 'ganador' %>">
          <li class="tantos"><%= partido.goles_visitante %></li>
          <li class="equipo"><span><%= partido.visitante %></span></li>
          <li class="escudo"><%= escudo partido.visitante %></li>
        </ul>
      </li>
      <li class="resumen">
      <% if partido.iniciado? %>
        <%= torneo.link_to_partido partido %>
      <% end %>
      </li>
    </ul>
  <% end %>
<% end %>
</div>

</div> <!-- /canal -->
