<%= form_tag data_reload_path, method: :post do |f| %>
  <fieldset>
  <ol>
    <li><%= label_tag :login, "Fecha" %><%= text_field_tag :desde, nil, class: 'datepicker' %></li>
  </ol>
  </fieldset>
  <p><%= submit_tag "Recargar" %></p>
<% end %>
