<%= canal_tag canal %>
<header>
  <h1><%= torneo.campeonato %></h1>
</header>
<ul id="menu-estadisticas">
<!--   <li class="posiciones"><a data-url="<%= torneo.url_generator.for 'posiciones' %>" class="selected">Posiciones</a></li> -->
  <li class="fixture"   ><a data-url="<%= torneo.url_generator.for 'fixture' %>">Fixture y resultados</a></li>
  <li class="goleadores"><a data-url="<%= torneo.url_generator.for 'goleadores' %>">Goleadores</a></li>
</ul>
<div class="limpiar"></div>
<div id="contenido-estadisticas" class="contenido-estadisticas"></div>

<script type="text/javascript">
contenidos_datafactory('#menu-estadisticas a[data-url]', '#contenido-estadisticas')
traer_datafactory('#contenido-estadisticas', '<%= torneo.url_generator.for 'fixture' %>')

</script>
</div> <!-- /canal -->
