<%= canal_tag canal %>
<div class="tabla tabla-fixture">
  <h1>Fixture y resultados</h1>
  <div id="menu-fechas">
    <ul class="fixtureInfo">
    <% torneo.niveles.each do |nivel| %>
      <li><%= torneo.selector_nivel nivel %></li> <% end %>
    </ul>
  </div><!-- #menu-fechas -->

  <div class="fechaclass">
  </div>
</div>

<script type="text/javascript">
  contenidos_datafactory('#menu-fechas a[data-url]', '.fechaclass')
  traer_datafactory('.fechaclass', '<%= torneo.url_generator.for 'nivel', torneo.fecha_actual.nivel %>')
</script>

</div> <!-- /canal -->
