<%= canal_tag canal %>
<div class="tabla tabla-fecha">

  <% fecha.partidos_por_dia.each do |dia, partidos| %>
    <div class="sejuega"><%= dia %></div>
      <% partidos.each do |partido| %>
      <% partido = partido.decorate %>
      <ul class="fixtureDatos">
        <li class="resultado">
          <ul class="izquierda <%= partido.ganador_local? && 'ganador' %>">
            <li class="escudo"><%= escudo partido.local %></li>
            <li class="equipo"><span><%= partido.local %></span></li>
            <li class="tantos"><%= partido.goles_local %></li>
          </ul>
          <ul class="derecha  <%= partido.ganador_visitante? && 'ganador' %>">
            <li class="tantos"><%= partido.goles_visitante %></li>
            <li class="equipo"><span><%= partido.visitante %></span></li>
            <li class="escudo"><%= escudo partido.visitante %></li>
          </ul>
        </li>

        <li class="resumen">
        <% if partido.iniciado? %>
          <%= torneo.link_to_partido partido %>
        <% end %>
        </li>
      </ul>
      <% end %>

  <% end %>

</div>
</div> <!-- /canal -->
