<% local, visitante = ficha.local, ficha.visitante %>
<%= canal_tag canal %>

<div class="fichaPartido">
  <h2>Ficha del partido</h2>

  <div class="marcador-ancho">
    <div class="marcador-titulo">
      <%= partido.tags_medios %>
      <span class="marcador-torneo">
        <%= torneo.campeonato %>
      </span>
      <span class="marcador-fecha">
        <%= fecha.descripcion %>
      </span>
      <span class="marcador-dia">
        <%= ficha.marcador_dia %>
        <% # esto, que es el día de juego, se reemplaza por PT, ET o ST cuando el partido se está jugando, según corresponda %>
      </span>
      <span class="marcador-tiempo" <%= ficha.cronometro %> >
        <%= ficha.marcador_tiempo %>
        <% # ésto, que es el horario de inicio, se reemplaza por el cronómetro cuando el partido se está jugando %>
      </span><!-- marcador-fecha -->
      <div class="limpiar"></div>
    </div><!-- marcador-titulo -->

    <div class="marcador-cuerpo">

      <div class="marcador-local">
        <span class="marcador-escudo">
          <%= escudo_small ficha.local %>
        </span>
        <span class="marcador-nombre">
          <%= link_equipo ficha.local %>
        </span>
        <span class="marcador-tanteador">
          <%= ficha.goles_local %>
        </span>
        <div class="limpiar"></div>
      </div><!-- marcador-local -->

      <div class="marcador-visitante">
        <span class="marcador-escudo">
          <%= escudo_small ficha.visitante %>
        </span>
        <span class="marcador-nombre">
          <%= link_equipo ficha.visitante %>
        </span>
        <span class="marcador-tanteador">
          <%= ficha.goles_visitante %>
        </span>
        <div class="limpiar"></div>
      </div><!-- marcador-visitante -->

      <div class="limpiar"></div>
    </div><!-- marcador-cuerpo -->

  </div><!-- marcador-ancho -->

  <div id="jugadores">

    <ul class="jugadoresLocal">

      <% ficha.formacion_local.titulares.each do |jugador| %>
        <li>
          <%= jugador.goles %>
          <%= jugador.tarjetas %>
          <span class="numeroJugador"><%= jugador.camiseta %></span>
          <span class="nombreJugador"><%= jugador.nombre %></span>
        </li>
      <% end %>

      <li class="dt">
        <span class="numeroJugador">DT</span>
        <span class="nombreJugador"><%= ficha.formacion_local.dt %></span>
      </li>

      <li class="jugadoresSuplentes">
        Suplentes
      </li>

      <% ficha.formacion_local.suplentes.each do |jugador| %>
        <li>
          <%= jugador.goles %>
          <%= jugador.tarjetas %>
          <span class="numeroJugador"><%= jugador.camiseta %></span>
          <span class="nombreJugador"><%= jugador.nombre %></span>
        </li>
      <% end %>

    </ul><!-- jugadoresLocal -->


    <ul class="jugadoresVisitante">

      <% ficha.formacion_visitante.titulares.each do |jugador| %>
      <li>
        <%= jugador.goles %>
        <%= jugador.tarjetas %>
        <span class="numeroJugador"><%= jugador.camiseta %></span>
        <span class="nombreJugador"><%= jugador.nombre %></span>
      </li>
      <% end %>

      <li class="dt">
        <span class="numeroJugador">DT</span>
        <span class="nombreJugador"><%= ficha.formacion_visitante.dt %></span>
      </li>

      <li class="jugadoresSuplentes">
        Suplentes
      </li>

      <% ficha.formacion_visitante.suplentes.each do |jugador| %>
        <li>
          <%= jugador.goles %>
          <%= jugador.tarjetas %>
          <span class="numeroJugador"><%= jugador.camiseta %></span>
          <span class="nombreJugador"><%= jugador.nombre %></span>
        </li>
      <% end %>

    </ul>

    <div class="limpiar"></div>

  </div><!-- jugadores -->

  <div class="fichaGoles seccionGoles">
    <h3>Goles</h3>
    <ul class="goles">
    <% ficha.goles(local).each do |gol| %>
      <li><span class="time"><%= gol.minuto_tiempo %></span> <strong><%= gol.jugador_gol %></strong></li>
    <% end %>
    </ul>
    <ul class="goles">
    <% ficha.goles(visitante).each do |gol| %>
      <li><span class="time"><%= gol.minuto_tiempo %></span> <strong><%= gol.jugador_gol %></strong></li>
    <% end %>
    </ul>
    <div class="limpiar"></div>
  </div><!-- fichaGoles -->

  <div class="fichaGoles seccionCambios">
    <h3>Cambios</h3>
    <ul class="goles">
    <% ficha.cambios(local).each do |cambio| %>
      <li>
        <span class="time"><%= cambio.minuto_tiempo %></span>
        <span class="in"><%= cambio.jugador_entra %></span>
        <span class="out"><%= cambio.jugador_sale %></span>
      </li>
    <% end %>
    </ul>

    <ul class="goles">
    <% ficha.cambios(visitante).each do |cambio| %>
      <li>
        <span class="time"><%= cambio.minuto_tiempo %></span>
        <span class="in"><%= cambio.jugador_entra %></span>
        <span class="out"><%= cambio.jugador_sale %></span>
      </li>
    <% end %>
    </ul>
    <div class="limpiar"></div>
  </div><!-- fichaGoles -->

  <% if ficha.expulsados.any? %>
  <div class="fichaGoles seccionExpulsados">
    <h3>Expulsados</h3>
    <p><%= ficha.lista_expulsados %></p>
    <div class="limpiar"></div>
  </div><!-- fichaGoles -->
  <% end %>

  <div class="fichaGoles seccionEstadio">
    <p><strong>Estadio: </strong><%= ficha.estadio %> | <strong>Árbitro: </strong><%= ficha.arbitro %></p>
    <div class="limpiar"></div>
  </div><!-- fichaGoles -->

</div>
</div> <!-- /canal -->
