<%= canal_tag canal %>
<div class="tabla tabla-fixture">
  <h1>Fixture resultados</h1>
  <div id="menu-fechas">
    <ul class="fixtureInfo">
    <% torneo.fechas.each do |fecha| %>
      <li><%= torneo.selector_fecha fecha %></li> <% end %>
    </ul>
  </div><!-- #menu-fechas -->

  <div class="fechaclass">
  </div>
</div>

<script type="text/javascript">
  contenidos_datafactory('#menu-fechas a[data-url]', '.fechaclass')
  traer_datafactory('.fechaclass', '<%= torneo.url_generator.for 'fecha', torneo.fecha_actual %>')
</script>

</div> <!-- /canal -->
