<%= canal_tag canal %>
<div class="tabla tabla-goleadores">
  <h1>Tabla de goleadores</h1>

  <ul class="goleadoresInfo">
    <div class="tabla-tipo">Goleadores</div>
    <li>&nbsp;</li>
    <li class="jugador">&nbsp;</li>
    <li>Total</li>
    <li>Jugada</li>
    <li>Cabeza</li>
    <li>T.Libre</li>
    <li>Penal</li>
    <div class="limpiar"></div>
  </ul>
  <div class="limpiar"></div>

  <% goleadores.each_with_index do |goleador, i| %>
  <ul class="goleadoresDatos">
    <li><%= i+1 %></li>
    <li class="jugador"><span><%= goleador.nombre %> (<%= goleador.equipo %>)</span></li>
    <li class="total"><b><%= goleador.goles %></b></li>
    <li><%= goleador.jugada %></li>
    <li><%= goleador.cabeza %></li>
    <li><%= goleador.tiro_libre %></li>
    <li><%= goleador.penal %></li>
  </ul>
  <% end %>

</div>
</div> <!-- /canal -->
