<select id="menu-torneos">
<% torneos.each do |torneo| %>
  <option data-url="<%= torneo.url_generator.for 'estadisticas' %>"><%= torneo %></option>
<% end %>
</select>

<script type="text/javascript">
  $('#menu-torneos').change(function(event) {
    var url = event.target.selectedOptions[0].getAttribute('data-url')
    $('#df-estadisticas').load(url)
  });
</script>
