<%= canal_tag canal %>
<div class="tabla tabla-posiciones">
  <h1>Tabla posiciones <%= torneo.campeonato %></h1>

  <ul class="posicionesInfo">
    <div class="tabla-tipo">Posiciones </div>
    <li>&nbsp;</li>
    <li class="equipo">&nbsp;</li>
    <li title="Puntos">Ptos</li>
    <li title="Partidos jugados">PJ</li>
    <li title="Partidos ganados">PG</li>
    <li title="Partidos empatados">PE</li>
    <li title="Partidos perdidos">PP</li>
    <li title="Goles a favor" class="goles goles_torneo">GF</li>
    <li title="Goles en contra" class="goles goles_torneo">GC</li>
    <li title="Diferencia de gol" class="goles">DF</li>
    <div class="limpiar"></div>
  </ul>

  <div class="limpiar"></div>

  <% posiciones.each_with_index do |equipo, i| %>
  <ul class="posicionesDatos">
    <li><%= i+1 %></li>
    <li class="equipo"><%= link_equipo equipo.equipo %> </li>
    <li class="puntos"><%= equipo.puntos %></li>
    <li><%= equipo.jugados %></li>
    <li><%= equipo.ganados %></li>
    <li><%= equipo.empatados %></li>
    <li><%= equipo.perdidos %></li>
    <li class="goles goles_torneo"><%= equipo.goles_favor %></li>
    <li class="goles goles_torneo"><%= equipo.goles_contra %></li>
    <li class="goles"><%= equipo.diferencia_de_gol %></li>
  </ul>
  <% end %>

</div>
</div> <!-- /canal -->
