<%= canal_tag canal %>
<div class="tabla tabla-descenso">
  <h1>Promedios del descenso</h1>  

  <ul class="descensoInfo">
    <div class="tabla-tipo">Descenso</div>
    <li class="posicion">&nbsp;</li>
    <li class="equipo">&nbsp;</li>
    <li class="pts pts_torneos">T1</li>
    <li class="pts pts_torneos">T2</li>
    <li class="pts pts_torneos">T3</li>
    <li class="pts" title="Puntos">PTS</li>
    <li class="pj" title="Partidos Jugados">PJ</li>
    <li class="promedio">Prom</li>
    <div class="limpiar"></div> 
  </ul>

  <div class="limpiar"></div> 

  <% promedios.each_with_index do |equipo, i| %>
  <ul class="descensoDatos">
    <li class="posicion"><%= i+1 %></li>
    <li class="equipo"><%= link_equipo equipo.equipo %> </li>
    <li class="pts pts_torneos"><%= equipo.puntos_anterior1 %></li>
    <li class="pts pts_torneos"><%= equipo.puntos_anterior2 %></li>
    <li class="pts pts_torneos"><%= equipo.puntos_actual %></li>
    <li class="pts"><%= equipo.puntos_descenso %></li>
    <li class="pj"><%= equipo.jugados_descenso %></li>
    <li class="promedio"><%= equipo.promedio_descenso %></li>
  </ul>
  <% end %>

</div>
</div> <!-- /canal -->
