// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.escudo {
  margin: -8px 5px -8px 0px;
  width: 24px;
}

.row pre {
  border: 1px solid black;
  padding: 0.5em;
}

.copy-button {
  width: 24px;
  vertical-align: middle;
}

table.index_table td .copy-button {
  margin: -4px 0;
}
