<link href="/styles.css" rel="stylesheet" type="text/css" />
<link href="http://442.perfil.com/wp-content/themes/deportivo-442-2014/style.css" rel="stylesheet" type="text/css" />
<% if @javascript %>
<script type='text/javascript' src='http://cdn.perfil.com/442.perfil.com/wp-content/themes/deportivo-442/scripts/jquery-1.4.2.min.js?ver=1.4.2'></script>
<script type='text/javascript' src='http://442.perfil.com/wp-content/themes/deportivo-442-2014/commons/201308/datafactory/442.js'></script>
<% end %>
<div id="contenido-general-pagina">
<%= yield %>
</div>
